body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
.container {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.text {
    width: 80ch;
}
.padding {
    padding: 130px;
}
