body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
}
h1 {
    font-family: ewert;
    font-size: 154px;
    font-style: bold;
    margin: 0;
}
p {
    font-family: aref ruqaa ink;
    font-size: 20px;
}
.padding {
    padding: 50px;
}
.parent {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.div1 {
    grid-area: 1 / 1 / 2 / 2;
}
.div2 {
    grid-area: 2 / 1 / 3 / 2;
}
.div3 {
    grid-area: 1 / 2 / 2 / 3;
    background-image: url(picture.jpg);
    background-size: cover;
}
.div4 {
    grid-area: 2 / 2 / 3 / 3;
}
.text {
    width: 80ch;
}

.button {
    background-color: rgba(148, 211, 189, 1);
    border-radius: 12px;
    color: rgba(65, 65, 65, 1);
    padding: 12px 32px;
    text-align: center;
    font-size: 16px;
    size: 180px 67px;
}
.map {
    height: 20px;
    width: 22px;
}
@media (max-width: 800px) {
    body {
        background-image: url(phone.jpg);
    }
    .phone_font_h1 {
        font-size: 92px;
        font-style: bold;
        margin: 0;
        text-shadow: 0 0 black;
    }
    .phone_text {
        width: 50ch;
    }
    .parent {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 100px;
        display: inline;
    }
    .div1 {
        grid-area: 1 / 1 / 2 / 2;
        text-align: center;
    }
    .div2 {
        grid-area: 2 / 1 / 3 / 2;
    }
    .div3 {
        grid-area: 3 / 1 / 4 / 2;
        background-image: url(picture.jpg);
        background-size: cover;
        min-height: 499px;
    }
    .padding {
        padding-top: 80px;
        padding-left: 50px;
        padding-bottom: 50px;
        padding-right: 50px;
    }
}
